
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media screen and (max-width: 768px) {
  .coino{
    display: none;
  }
}


/* footer issue fix */

.footer{
  width: 100%;
text-align: center;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
   

    .app-container {
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* Ensures the container takes at least full viewport height */
    }

    .content-area {
      flex-grow: 1; /* Allows content area to expand and push footer down */
    }
form{
   margin: 0 auto; 
   margin-top: 15%;
  max-width: 200px; 
  font-family: 'Times New Roman', Times, serif;
}

.error{
  color: red;
}

.post_form{
  width: 50%;
  border: 1px solid gray;
  padding: 20px;
} 

 .post_form input,.post_form textarea, .post_form button{
  width: 100%;
  margin: 10px 0px;
  padding: 8px;
}

.post_form .file{
  border: 1px solid gray;
}

.post_form button{
  cursor: pointer;
  background-color: green;
  color: white;
} 


/* posts */

.image{
  height:300px;
  width: 400px;
}

@media (max-width:465px){
 .post{
  flex-direction: column;
 }
 .post h2{
  font-size: 15px;
 }
 .post p{
  font-size: 12px;
 }
}





